<!DOCTYPE HTML>

<HTML xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<HEAD>
		<link rel="stylesheet" href="/css/style.css" />
		<title>Movie: Listpage</title>
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	</HEAD>
	
	<BODY>
	
	<div>
		<form th:action="@{/logout}" method="POST">
			<span th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]! <input type="submit" value="Sign Out" /> </span>
		</form>
	</div>
	
		<h1>Movies</h1>

	<div>
		<table class="table table-striped">
			<tr>
				<th>Director</th>
				<th>Title</th>
				<th>Starting date</th>
				<th>Ending date</th>
				<th>Category</th>
				<th>Price</th>
				<th sec:authorize="hasAuthority('ADMIN')"></th>
			</tr>

			<tr th:each="movie : ${Movies}">
				<td th:text="${movie.director}">author</td>
				<td th:text="${movie.title}">title</td>
				<td th:text="${movie.startingDate}">Starting date</td>
				<td th:text="${movie.endingDate}">Ending date</td>
				<td th:text="${movie.category.name}">Category</td>
				<td th:text="${movie.price}">Price</td>
				
				<td sec:authorize="hasAuthority('ADMIN')">
					<a th:href="@{/delete/{id}(id=${movie.id})}" class="btn btn-danger btn-block">Delete</a>
					<a th:href="@{/edit/{id}(id=${movie.id})}" class="btn btn-secondary btn-block">Edit</a>
				</td>
			</tr>
		</table>
		
		<a sec:authorize="hasAuthority('ADMIN')" href="/addMovie" class="btn btn-success">Add Movie</a>
	</div>
				
	</BODY>
</HTML>